<form #bookForm="ngForm" (submit)="onSubmit()">
  <div class="form-row">
    <h1 class="form-group col-md-12 text-center">Thông Tin Khám Bệnh</h1>
  </div>
  <div class="form-row justify-content-center">
    <div class="form-group col-md-3">
      <label for="firstName"><b>Họ</b></label>
      <input name="firstName" type="text" class="form-control" required [(ngModel)]="patient.firstName" placeholder="Họ">
      <label *ngIf="bookForm.controls.firstName?.errors && bookForm.controls.firstName?.touched" appRedBlack>Họ không được bỏ trống</label>
    </div>
    <div class="form-group col-md-3">
      <label for="lastName"><b>Tên</b></label>
      <input type="text" class="form-control" required name="lastName" [(ngModel)]="patient.lastName" placeholder="Tên">
      <label *ngIf="bookForm.controls.lastName?.errors && bookForm.controls.lastName?.touched" appRedBlack>Tên không được bỏ trống</label>
    </div>
  </div>
  <div class="form-row justify-content-center">
    <div class="form-group col-md-3">
      <label for="email"><b>Email</b></label>
      <input required type="email" class="form-control" name="email" [(ngModel)]="patient.email" placeholder="Email">
      <label *ngIf="bookForm.controls.email?.errors && bookForm.controls.email?.touched" appRedBlack>Email không được bỏ trống</label>
    </div>
    <div class="form-group col-md-3">
      <label for="phoneNumber"><b>Điện thoại</b></label>
      <input required type="text" class="form-control" name="phoneNumber" [(ngModel)]="patient.phoneNumber" placeholder="Điện thoại">
      <label *ngIf="bookForm.controls.phoneNumber?.errors && bookForm.controls.phoneNumber?.touched" appRedBlack>Số điện thoại không được bỏ trống</label>
    </div>
  </div>
  <div class="form-row justify-content-center">
    <div class="form-group col-md-6">
      <label for="description"><b>Triệu chứng gặp phải</b></label>
      <textarea required type="text" class="form-control" name="description" [(ngModel)]="patient.description" placeholder="Nhập triệu chứng của bệnh nhân"></textarea>
      <label *ngIf="bookForm.controls.description?.errors && bookForm.controls.description?.touched" appRedBlack>Triệu chứng không được bỏ trống</label>

    </div>
  </div>
  <div class="form-row justify-content-center">
    <button type="submit" class="btn btn-primary">Đăng ký</button>
  </div>
</form>
<pre>Bookform from html: {{ bookForm.value | json }}</pre>
<pre>Patient from ts: {{ patient | json }}</pre>


<h1 class="form-group col-md-12 text-center">Reactive Form</h1>
<app-signup-reactive-form></app-signup-reactive-form>
